<html> 
    <head>
      <title>AutoML</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <body>
      <center>
        <h2> Auto ML </h2>
      </center>

      <form method="post" enctype="multipart/form-data" action="preprocess">
        {% csrf_token %}
        <br>
        Upload: <input type="file" name="myfile">
        <button type="submit">Upload</button>
      </form>
      <ul class="nav nav-tabs">
        <li><a href="/preprocess">Preprocessing</a></li>
        <li><a href="/train">Model Training</a></li>
        <li><a href="/tune">Hyper Parameter Tuning</a></li>
        <li><a href="/visualise">Visualisation</a></li>
        <li><a href="/predict">Predict</a></li>
        <li class="active"><a href="/deploy">Download/Deploy</a></li>	
	    </ul>
    </body>
  </html>